.index_swiper{
    swiper{
        width: 750rpx;
        height: 340rpx;
    }
    image{
        width: 100%;
    }
}

.index_cate{
    display: flex;
    navigator{
        padding: 20rpx;
        flex:1;
        image{
            width: 70%;
        }
    }
}