<view class="all">
  <navigator
    wx:for = "{{article_list}}"
    wx:key = "id"
    wx:item = "item"
    wx:index = "index"
    class = "floor_group"
    url = "{{item.url}}">
    <view class="divLine"></view>
    <view class="floor">
      <image class = "img" src='{{item.cover}}' mode = "widthFix" style = "border-radius:15rpx; margin:10rpx"/>
      <view class = "text">
        <view style="font-weight: bold">{{item.name}}</view>
        <view style="margin-top:20rpx">{{item.discription}}</view>
      </view>
    </view>
  </navigator>
</view>