/* pages/cate_list/Physics/index.wxss */.intru{
  margin-left: 500rpx;
  margin-bottom: 10rpx;
  width: 20rpx;
  /* height: 50rpx: */
}

.floor_group{
  width: 750 rpx;
  background-color: #fff;
  
}

.floor{
  display: flex;
  width: 750 rpx;
}

.img{
  margin-left: 15 rpx;
  margin-top: 40 rpx;
  width: 30%;
  border-radius: 50 rpx;
}

.text{
  width: 70%;
}

.divLine{
  background: #E0E3DA;
  width: 100%;
  height: 5rpx;
}